@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* navigation start*/


.navigation {

    background: #525252;

}

.nav-item{
    margin-left:40px;
    padding: auto;


}


.nav-item .nav-link {
    color: #ffffff !important;
    font-size: 17px !important;

}

.user-image{
    margin-top: 6px;
    margin-right: 15px;
}


@media screen and (max-width: 792px) {
    .nav-item {
        margin-left: 20px;
        padding: auto;


    }
}

/* navigation end*/


.userheader{
  background: #f9f9f9;  
}
.welcome{
    padding-top: 44px;
    padding-bottom:46px ;
    font-size: 30px;
}
.welcome .uname{
    font-size: 30px;
    font-weight: bold;
}
@media screen and (max-width:992px) {
  
  .userheader{
    background: #525252;  
  }
  .welcome{
      padding-top:5px;
      padding-bottom:5px ;
      font-size: 17px;
      color: #f9f9f9;
  }
  .welcome .uname{
    color: #f9f9f9;
      font-size: 20px;
      font-weight: bold;
  }  
  .nav-tab{
    margin-top: 0px;
  
}  
      
}
 
/*vertical navigation start*/


.nav-tab{
    margin-top: 31px;
    margin-bottom: 30px;
}
@media screen and (min-width:992px) {
    

        .nav-tab{
            width: 80%;
            margin-left: 10%;
        }
        
  }
.vertical-nav {

        background-color: #1D7A8C !important;
        height: 100%;
        
  }
  @media screen and (max-width:992px) {
    .vertical-nav {

        background-color:  #525252 !important;
         
        
  }
  
  .vertical-nav .nav-item {
    height: 50px;
    border-bottom: .8px solid #FFFFFF;
  }
  
  .vertical-nav .nav-item .nav-link {
    color: #ffff;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  
  }
    }
  .vertical-nav .nav-item {
    height: 50px;
    padding: 0px !important;
    margin: 0px!important;
    border-bottom: .8px solid #FFFFFF;
  }
  
  .vertical-nav .nav-item .nav-link {
    color: #ffff;
    font-size: 18px;
    font-weight: normal;
   
  
  }
  
  .vertical-nav .active {
    background-color: #146371;
  }
  
/*vertical navigation end*/


/* table start*/


.table {
   border: 1px solid #e1e1e1;
    margin-right: 10%;
  }
  
  .sort {
    vertical-align: initial;
  }
  
  .calender {
    max-width: 22px;
    max-height: 22px;
    margin-right: 4px;
  }
  
  .date {
    font-weight: bold;
    margin-bottom: 7px;
  
  }
  
  .clock {
    margin-right: 4px;
    max-width: 17px;
    max-height: 17px;
  
  }
  
  table .date, table .time {
    padding: 0px;
  }
  
  thead {
    background-color: #F9F9F9;
  
  }
  
  td {
    font-size: 16px;
    color: #646464;
  }
  
  .home {
    max-width: 22px;
    max-height: 22px;
  }
  
  .address {
    padding: 0px;
  }
  
  table .serviceid, table .distance {
    padding-top: 25px;
  }
  
  .btn-cancel {
    background-color: #FF6B6B;
    border-radius: 17px;
    color: #FFFFFF;
    width: 80px;
    height: 34px;
    text-align: center;
    margin-top: 9px;
    padding-top: 4%;
  }
  

/* table end*/

/* footer start*/

.footer-navbar a {
	text-decoration: none;
	color: white;
	padding: 0px 10px;
	font-size: 14px;
	letter-spacing: 0px;
}

.footer {
	background-color: #111111;
	
}
.foot-item{
    padding-top: 27px;
    
}
.privacy {
	background-color: #111111;
	height: 64px;
   
	
}
.line{
    background:#424242 ;
}
.privacy p {
	font-size: 14px;
	color:#9ba0a3;
    margin-top:10px;
    margin-bottom: auto;
}

.policy {
	text-decoration: none;
	color:#9ba0a3;
    margin-left: 5px;
}

a .px-1{
	height: 20px;
	width: 20px;
}
a .px-2{
	height: 20px;
	width: 40px;
}

/* footer end*/