@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header-img {
    max-height: 54px;
    padding: 0;
}

.nav-item {
    margin-left: 15px;
}

.navonlyborder {
    padding: 0px 5px 0px 5px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
}

.navborder {
    padding: 0px 5px 0px 5px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    background-color: #29626D;
}

.title {
    text-align: center;
    color: #4F4F4F;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin-top: 31px;
}

.image-seprator {
    max-height: 60px;
    margin-bottom: 30px;
}

.forgot_form {
    width: 40%;
}

.forgot_form .col-sm-12 {
    margin-bottom: 15px;
}

.forgot_form .register_btn {
    border-radius: 27px;
    color: #FFFFFF;
    background-color: #6EABEF;
    font-size: 23px;
    font-weight: 500;
    padding: 7px 35px 7px 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.forgot_form .register_btn:hover {
    background-color: #29626D;
}

.footer {
    background-color: #111111;
    padding-top: 20px;
}

.footer .footer-menu {
    margin-left: 5px;
    margin-right: 5px;
    color: #F1F1F1;
    font-size: 14px;
}

.footer .fb {
    margin-top: 25px;
    margin-right: 20px;
}

.footer-start {
    margin-bottom: 20px;
}

.footer .insta {
    margin-top: 25px;
    margin-right: 20px;
}

.footer-end {
    color: #9BA0A3;
    font-size: 14px;
    padding-bottom: 5px;
}