h2{
    color:#353548;
    font-size:18px;
    font-weight: 700;
}

.form-email {
	background: #f4f5f8 0% 0% no-repeat padding-box;
	border: 1px solid #565656;
	border-radius: 20px;
	width: 233px;
	height: 40px;
	padding: 11px 21px;
	margin-top: 16px;
}
.btn-submit {
	background: #ff7b6d 0% 0% no-repeat padding-box;
	border-radius: 20px;
	color: white;
	border: 0px solid transparent;
	height: 40px;
	width: 88px;
}

