@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

/* navigation start*/


.navigation {

    background: #525252;
}

.nav-item{
    margin-left:30px;

}
.nav-item .nav-link {
    color: #ffffff !important;
    font-size: 17px !important;
    

}
 #book-now{
    background:#29626d ;
    border: 1px solid white;
    border-radius: 50px;
    color: #ffffff ;
    padding: 0px 10px;

    
}

.user-image{
    margin-top: 6px;
    margin-right: 15px;
}


@media screen and (max-width: 792px) {
    .nav-item {
        margin-left: 20px;
        padding: auto;
    }
}
#notification{
  border-left: 2px solid whitesmoke; 
   border-right: 2px solid whitesmoke;
    padding-left: 16px; 
    padding-right:0px;
}
.notification-no{
  position:relative;
  z-index: 1;
  bottom:9px;
  right:7px ;
  background: #ff1616;
  font-size: 13.5px;
  padding: 0px 5px;
  border-radius: 50%;
}
/* navigation end*/

/* username start*/
.userheader{
    background: #f9f9f9;  
  }
  .welcome{
      padding-top: 44px;
      padding-bottom:46px ;
      font-size: 30px;
  }
  .welcome .uname{
      font-size: 30px;
      font-weight: bold;
  }
  @media screen and (max-width:992px) {
    
    .userheader{
      background: #525252;  
    }
    .welcome{
        padding-top:5px;
        padding-bottom:5px ;
        font-size: 17px;
        color: #f9f9f9;
    }
    .welcome .uname{
      color: #f9f9f9;
        font-size: 20px;
        font-weight: bold;
    }  
    .nav-tab{
      margin-top: 0px;
    
  }  
        
  }
/* username end*/


/* vertical navigation start*/
.nav-tab{
    margin-top: 31px;
    margin-bottom: 30px;
}
@media screen and (min-width:992px) {
    

        .nav-tab{
            width: 80%;
            margin-left: 10%;
        }
        
  }
.vertical-nav {

        background-color: #1D7A8C !important;
        height: 100%;
        
  }
  @media screen and (max-width:992px) {
    .vertical-nav {

        background-color:  #525252 !important;
         
        
  }
  
  .vertical-nav .nav-item {
    height: 50px;
    border-bottom: .8px solid #FFFFFF;
  }
  
  .vertical-nav .nav-item .nav-link {
    color: #ffff;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  
  }
    }

    .vertical-nav ul{
      width: 100%;
   }

  .vertical-nav .nav-item {
    height: 55px;
    padding: 0px !important;
    margin: 0px!important;
    border-bottom: .8px solid #FFFFFF;
  
  }
  
  .vertical-nav .nav-item .nav-link {
    color: #ffff;
    font-size: 18px;
    font-weight: normal;
    padding-top: 13px;
  
  }
  
  .vertical-nav .active {
    background-color: #146371;
  }
  
/*vertical navigation end*/

/*table start*/ 

.sh{
    color: #525252 !important;
    font-weight: 600 !important;
    font-size: 18px;
}
.ex-btn{
   float: right !important;
   
}
.ex-btn button{
   color: #ffffff;
   background: #29626d;
   border: 1px solid  #29626d;
   width: 70px;
   height: 34px;
   border-radius: 20px;
   padding:px 7px;
   margin-bottom: 6px;
   font-size: 14px;
   margin-top: 6px;
}

.table {
    border: 1px solid #e1e1e1;
     margin-right: 10%;
   }
   .calender {
    max-width: 22px;
    max-height: 22px;
    margin-right: 4px;
  }
  
  .date {
    font-weight: bold;
    margin-bottom: 10px;
  
  }

  thead {
    background-color: #F9F9F9;
  
  }
  
  td {
    font-size: 16px;
    color: #646464;
  }
  .cap-image{
      border: 1px solid  #646464;
      align-items: center;
      padding-top: 4px;
      border-radius:50%;

  }
 .rounded{
     padding: 10px 6px;
 } 
 .name-lyum{
     display:block;
     font-size: 16px;
     color: #646464;
     
 }
 .name-star{
     padding-left: 12px;
 } 
 .star-no{
     color: #646464;
     font-size: 16px;
 }
  table .prices{
    font-size: 20px;
    padding-top: 10px;
    color: #1d7a8c;
    font-weight: bold;
  }
  
  table .serviceid, table .distance {
    padding-top: 25px;
  }
  
  .btn-status {
    margin-top:13px ;
    background-color:#67b644;
    color: #FFFFFF;
    font-size: 13px;
    width: 82px;
    height: 25px;
    text-align: center;
    padding:2px 5px;
    border-radius: 0px !important;
    
  }
  .btn-status-cancle {
    margin-top:13px ;
    background-color:#ff6b6b;
    color: #FFFFFF;
    font-size: 13px;
    width: 82px;
    height: 25px;
    text-align: center;
    padding:2px 5px;
    border-radius: 0px !important;
    
    
  }
  .btn-rate {
    background-color:#6da9b5;
    border-radius: 17px;
    font-size: 14px;
    color: #FFFFFF;
    width: 80px;
    height: 34px;
    text-align: center;
    margin-top: 10px;
    
  }
.left-entry{
    display:inline-block;
    color: #646464;
}
.right-entry{
    display:inline-block;
    float:right;
}
@media screen and (max-width:1055px) {
  
  .left-entry{
    display:block;
    color: #646464;
    margin-left: 5px;
}
.right-entry{
    display:block;
    float:left;
    margin-top: 25px;
    margin-left: 5px;
}
      
}
.right-entry span{
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    padding: 8px 12px;
    color: #777777;
}
.brdr-spn{
    border: 1px solid #777777;
    margin-left: 10px;
    margin-right: 10px;
    padding: 13px 14px;
    font-size: 14px;
    border-radius: 5px;
}
.brdr-spn i{
    margin-left: 11px;
    width: 12px;
    height: 7px;
}
.next-to-next img{
    width: 8px;
    height: 7px;
}
#next-to-next img{
    transform: rotate(180deg);
}
.page-1{
  background: #1D7A8C;
  color: #FFFFFF !important;
}
.right-entry span:hover{
  border: 1px solid #777777;
  border-radius: 50%;
  padding: 8px 12px;
  color:#e1e1e1 ;
  background: #1D7A8C;
}
.entries{
  margin-right: 8px;
}
/*table end*/



.footer-navbar a {
	text-decoration: none;
	color: white;
	padding: 0px 10px;
	font-size: 14px;
	letter-spacing: 0px;
}

.footer {
	background-color: #111111;
	
}
.foot-item{
    padding-top: 27px;
    
}
.privacy {
	background-color: #111111;
	height: 64px;
   
	
}
.line{
    background:#424242 ;
}
.privacy p {
	font-size: 14px;
	color:#9ba0a3;
    margin-top:10px;
    margin-bottom: auto;
}

.policy {
	text-decoration: none;
	color:#9ba0a3;
    margin-left: 5px;
}

a .px-1{
	height: 20px;
	width: 20px;
}
a .px-2{
	height: 20px;
	width: 40px;
}

/* footer end*/