@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.header-nav {
	text-decoration: none;
	color:white;
	font-size: 17px;
	padding: 7px 20px;
	margin: 0px 5px;
}
.header-nav:hover {
    text-decoration: none;
	border-radius: 20px;
	border: 1px solid white;
	color: white;
	padding: 7px 20px;
}
#price{
    border-radius: 20px;
	width: 97px;
	height: 40px;
	text-decoration: none;
	border: 1px solid white;
	color: white;
	font-size: 17px;
	padding: 7px 20px;
	margin: 0px 5px;
	background: transparent;
    opacity: 1;
}

.sp-btn {
	border-radius: 20px;
	width: 97px;
	height: 40px;
	text-decoration: none;
	border: 1px solid white;
	color: white;
	font-size: 17px;
	padding: 7px 20px;
	margin: 0px 5px;
	background: transparent;
	background-color: #006072;
	
}
.sp-btn:hover {
	color: #ffffff;
    text-decoration: none;
}
@media screen and (max-width: 1075px) {
    
.sp-btn {
	border-radius: 20px;
	width: 90px;
	height: 35px;
	text-decoration: none;
	border: 1px solid white;
	color: white;
	font-size: 15px;
	padding: 5px 15px;
	margin: 0px 4px;
	background: transparent;
	background-color: #006072;
	
}
.sp-btn:hover {
	color: #ffffff;
    text-decoration: none;
}
    .header-nav {
        text-decoration: none;
        color:white;
        font-size: 15px;
        padding: 5px 15px;
        margin: 0px 4px;
    }
    .header-nav:hover {
        border-radius: 20px;
        border: 1px solid white;
        color: white;
        padding: 5px 15px;
    }

    #price{
        border-radius: 20px;
        width: 90px;
        height: 35px;
        text-decoration: none;
        border: 1px solid white;
        color: white;
        font-size: 15px;
        padding: 5px 15px;
        margin: 0px 4px;
        background: transparent;
        opacity: 1;
    }
}
@media screen and (max-width: 991px) {
    .nav-item {
       padding-top:8px ;
	   padding-bottom:8px ;
    }
   
}